<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="links-div">
          <h3 class="link-title text-uppercase font-weight-bold">links</h3>
          <ul class="link-ul">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/team">About Us</a></li>
            <li><a href="#">Upcoming Meetings</a></li>
            <li><a routerLink="/upcom">Past Meetups</a></li>
            <li><a routerLink="/sponsers">Sponsors</a></li>
            <li><a routerLink="/commu">Community Partners</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-div">
          <h3 class="link-title text-uppercase font-weight-bold">contact info</h3>
          <ul>
            <li class="li-item">contact@techtalks.co.in</li>
            <li class="li-item">contact@hostingjunction.in</li>
          </ul>
        </div>
      </div>

      <div class="col-md-5">
        <div class="follow-div">
          <h3 class="link-title text-uppercase font-weight-bold">follow us on</h3>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" class="social-icon-link">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-icon-link">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-icon-link">
                <i class="fa fa-telegram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-icon-link">
                <i class="fa fa-medium"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-icon-link">
                <i class="fa fa-slack"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-icon-link">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-icon-link">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
