.about { padding: 70px 0; }

h2 { color: #212739; font-family: Oswald, sans-serif; letter-spacing: 1.2px; margin-bottom: 30px; }

.about-content { font-family: Oswald, sans-serif; letter-spacing: 0.8px; font-size: 20px; }
