<div class="past-meet">
  <div class="container">
    <h2 class="past-meet-heading text-uppercase text-center font-weight-bold">past meetings</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="meets">

          <div class="meet1 text-center meet">
            <div class="meet1-inner">
              <strong><a>TechTalks</a></strong>
              <small>Sunday, August 12, 2018</small>
              <div class="img"><img src="assets/img/pm1.jpg"></div>
              <div class="meet-content">
                <p class="meet-content">Topics: Cloud Security‍ and; Best Practices in Digital Ocean Cloud, Javascript and the event loop and GSOC Student</p>
              </div>
            </div>
          </div>

          <div class="meet2 text-center meet">
            <strong><a>Bear-To-Bull Market Meetup</a></strong>
            <small>Saturday, September 1, 2018</small>
            <div class="img"><img src="assets/img/bear_to_bull.jpeg"></div>
            <div class="meet-content">
              <p class="meet-content">Topic: Blockchain</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
