<div class="speakers text-center">
  <div class="container">
    <h2 class="text-uppercase font-weight-bold">past speakers</h2>
    <div class="row">
      <div class="col-md-12">

        <div class="speak1 speak-div">
          <div class="media">
            <img src="assets/img/nupur.jpg">
            <div class="media-body">
              <h4 class="mt-0 text-uppercase name">nupur agrahari</h4>
              <a href="https://github.com/nupuragrahari" class="social-a"><i class="fa fa-github"></i></a>
              <a href="https://twitter.com/nupur493" class="social-a"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/nupur-agrahari-088b91a4/" class="social-a"><i class="fa fa-linkedin"></i></a>
              <a href="#" class="social-a"><i class="fa fa-facebook"></i></a>
              <a href="#" class="social-a"><i class="fa fa-medium"></i></a>
              <div><a href="#" class="more"><small>More About me</small></a></div>
            </div>
          </div>
        </div>

        <div class="speak2 speak-div">
          <div class="media">
            <img src="assets/img/ankit.jpg">
            <div class="media-body">
              <h4 class="mt-0 text-uppercase name">ankit giri</h4>
              <a href="#" class="social-a"><i class="fa fa-github"></i></a>
              <a href="#" class="social-a"><i class="fa fa-twitter"></i></a>
              <a href="#" class="social-a"><i class="fa fa-linkedin"></i></a>
              <a href="#" class="social-a"><i class="fa fa-facebook"></i></a>
              <a href="#" class="social-a"><i class="fa fa-medium"></i></a>
              <div><a href="#" class="more"><small>More About me</small></a></div>
            </div>
          </div>
        </div>

        <div class="speak3 speak-div">
          <div class="media">
            <img src="assets/img/shashank.jpg">
            <div class="media-body">
              <h4 class="mt-0 text-uppercase name">shashank kumar</h4>
              <a href="https://github.com/realslimshanky" class="social-a"><i class="fa fa-github"></i></a>
              <a href="https://twitter.com/realslimshanky" class="social-a"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/shashankkumarkushwaha/" class="social-a"><i class="fa fa-linkedin"></i></a>
              <a href="#" class="social-a"><i class="fa fa-facebook"></i></a>
              <a href="#" class="social-a"><i class="fa fa-medium"></i></a>
              <div><a href="#" class="more"><small>More About me</small></a></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
