<div class="carousel slide carousel-bg" id="carouselExampleControls" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item first-slide active">
      </div>
      <div class="carousel-item second-slide">
      </div>
      <div class="carousel-item third-slide">
      </div>
  </div>
  <div class="carousel-caption text-left">
      <h2 class="text-uppercase">next meetup:</h2>
      <h1 class="text-uppercase font-weight-bold">hacker space</h1>
      <h5 class="white-text third-heading">On October 12' 2018</h5>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <img src="assets/img/prev.png" class="prev-top">
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <img src="assets/img/next.png" class="next-top">
  </a>

</div>