<div class="community">
  <div class="container community-partner-div text-center">
    <h2 class="text-uppercase font-weight-bold">community partner</h2>
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="img-div">
          <img src="assets/img/1.jpg">
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="img-div">
          <img src="assets/img/2.jpg">
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="img-div">
          <img src="assets/img/3.png">
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="img-div">
          <img src="assets/img/4.png">
        </div>
      </div>
    </div>
  </div>
</div>
